<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qubicgo.android.appformacion">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!--<meta-data android:name="app_url" android:value="https://extranetdev.grupobbva.pe:10443/"/>-->
         <meta-data android:name="app_url" android:value="http://190.117.253.189:8589/"/>
         <!--<meta-data android:name="app_url" android:value="https://extranetperu.grupobbva.pe:10443/"/>-->
        <!--<meta-data android:name="app_url" android:value="https://extranetdev.grupobbva.pe:11443/"/>-->
        <!--<meta-data android:name="app_url" android:value="https://extranetdev.grupobbva.pe:10443/"/>-->

        <!-- <meta-data android:name="app_junction" android:value="tjboss8485/appformacionbg"/>-->
        <meta-data android:name="app_junction" android:value=""/>
        <!--<meta-data android:name="app_junction" android:value="cjboss8485/appformacionbg"/>-->
        <!--<meta-data android:name="app_junction" android:value="pjboss8485/appformacionbg"/>-->

        <meta-data android:name="app_use_login" android:value="true"/>
        <!--<meta-data android:name="app_use_login" android:value="true"/> esto no considera el login y pasa de frente, usarlo con el P014773-->

        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ActiveInvitationDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SchedulerDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CheckInDetailActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".NotificationRecieve" />

        <service
            android:name=".NotificationFireBase">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity
            android:name=".activities.MaterialDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PollOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PollListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EvaluationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ScoreActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>